<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCare</title>
    <link rel="icon" href="/css/images/favicon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/about.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/trajan-pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 

</head>
<body>
    <header>
        <div>
            <h1 class="title">NovaCare Medical Center</h1>
        </div>
        <nav class="navbar">
            <a href="/about" class="nav nav-about active">Despre</a>
            <a href="/doctors" class="nav nav-doctors">Doctori</a>
            <% if (!user) { %>
              <a href="/login" class="nav nav-login">Log in</a>
            <% } else { %>
              <a href="/profile" class="nav nav-profile">Profil</a>
              <a href="appointment" class="nav nav-appointment">Noua programare</a>
              <a href="/logout" class="nav nav-logout">Log out</a>
            <% } %>
          </nav>
          
    </header>

    <div class="about">
        <img src="css/images/logo.png">
        <div class="contact">
            <div class="section">
                <div class="information">
                    <i class="material-icons">public</i>
                    <h2>Adresă</h2>
                </div>
                <p>Strada Academiei 14, București 010014</p>
            </div>
            <div class="section">
                <div class="information">
                    <i class="material-icons">call</i>
                    <h2>Număr Telefon</h2>
                </div>
                <p>+40 1981 1301981</p>
            </div>
            <div class="section">
                <div class="information">
                    <i class="material-icons">email</i>
                    <h2>Email</h2>
                </div>
                <p>contact@novacare.ro</p>
            </div>
        </div>
    </div>

</body>
</html>