<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCare</title>
    <link rel="icon" href="/css/images/favicon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/trajan-pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 

</head>
<body>
    <header>
        <div>
            <h1 class="title">NovaCare Medical Center</h1>
        </div>
        <nav class="navbar">
            <a href="about" class="nav nav-about">Despre</a>
            <a href="doctors" class="nav nav-doctor">Doctori</a>
            <a href="profile" class="nav nav-profile">Profil</a>
            <a href="appointment" class="nav nav-appointment active">Noua programare</a>
            <a href="logout" class="nav nav-logout">Log out</a>
            
        </nav>
    </header>

</body>
</html>