<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCare</title>
    <link rel="icon" href="/css/images/favicon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/trajan-pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 

</head>
<body>
    <header>
        <div>
            <h1 class="title">NovaCare Medical Center</h1>
        </div>
        <nav class="navbar">
            <a href="about" class="nav nav-about">Despre</a>
            <a href="doctors" class="nav nav-doctor">Doctori</a>
            <a href="profile" class="nav nav-profile active">Profil</a>
            <a href="appointment" class="nav nav-appointment">Noua programare</a>
            <a href="logout" class="nav nav-logout">Log out</a>
            
        </nav>
    </header>

    <div id="profile">
        <div id="information">
            <h2>Profil</h2>
            <button class="modify btn-submit">Modifica informatii</button>
            <div class="section" id="name">
                <p>Nume</p>
                <p class="info" id="nume"></p>
            </div>
            <div class="section" id="phone">
                <p>Numar telefon</p>
                <p class="info" id="telefon"></p>
            </div>
            <div class="section" id="gender">
                <p>Sex</p>
                <p class="info" id="sex"></p>
            </div>
            <div class="section" id="blood">
                <p>Grupa sange</p>
                <p class="info" id="sange"></p>
            </div>
            <div class="section long" id="illness">
                <p>Afectiuni</p>
                <p class="info info-long" id="afectiuni"></p>
            </div>
            <div class="section long" id="alergy">
                <p>Alergii</p>
                <p class="info info-long" id="alergii"></p>
            </div>
        </div>
        <div id="appointments"></div>
    </div>

    <div class="login-tab">
        <div class="form-box">
            <span class="icon-close"><i class="material-icons">close</i></span>
            <h2>Modificare informatii</h2>
            <form action="/modify" method="POST">
                <div class="input-box">
                    <label>Telefon</label>
                    <input id="phoneForm" name="phone" pattern="[0][0-9]{9}">
                </div>
                <div class="input-box">
                    <label>Afectiuni</label>
                    <input id="illnessForm" name="illness" type="text">
                </div>
                <div class="input-box">
                    <label>Alergii</label>
                    <input id="alergyForm" name="alergy" type="text">
                </div>
                <button id="submitInfo" type="submit" class="btn-submit">Modifica</button>
            </form>
        </div>
    </div>

    <script src="/src/profile.js"></script>
</body>
</html>