<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovaCare</title>
    <link rel="icon" href="/css/images/favicon.ico">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/trajan-pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 

</head>
<body>
    <header>
        <div>
            <h1 class="title">NovaCare Medical Center</h1>
        </div>
        <nav class="navbar">
            <a href="about" class="nav nav-about">Despre</a>
            <a href="doctors" class="nav nav-doctor">Doctori</a>
            <a href="profile" class="nav nav-profile active">Profil</a>
            <a href="appointment" class="nav nav-appointment">Noua programare</a>
            <a href="logout" class="nav nav-logout">Log out</a>
            
        </nav>
    </header>

    <div id="profile">
        <div id="information">
            <h2>Profil</h2>
            <div class="section" id="name">
                <p>Nume</p>
            </div>
            <div class="section" id="phone">
                <p>Numar telefon</p>
            </div>
            <div class="section" id="gender">
                <p>Sex</p>
            </div>
            <div class="section" id="blood">
                <p>Grupa sange</p>
            </div>
            <div class="section" id="illness">
                <p>Afectiuni</p>
            </div>
            <div class="section" id="alergy">
                <p>Alergii</p>
            </div>
        </div>
        <div id="appointments"></div>
    </div>

    <script src="/src/profile.js"></script>
</body>
</html>